.book-container {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px; /* Set a fixed width for each book */
  vertical-align: top;
}


.book-cover img {
  width: 100%; /* Make sure the cover image fills its container */
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; /* Set a maximum height for the cover image */
}

.book-details {
  text-align: center;
  margin-top: 10px;
}

.book-details p {
  font-size: 10px;
  margin: 5px 0;
  text-align: justify;
}

.book-details h2 {
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container-button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.read-btn,
.to-read-btn {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.read-btn.read {
  background-color: green;
  color: white;
}

.to-read-btn.to-read {
  background-color: orange;
  color: white;
}
